### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
# print(school_data)
# print(student_data)
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_list = school_data_complete['school_name'].unique()
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
total_schools = len(school_data_complete["School ID"].unique())
total_student = len(school_data_complete['student_name'])
total_budget = school_data['budget'].sum()
avg_math = school_data_complete['math_score'].mean()
avg_read = school_data_complete['reading_score'].mean()
pass_math = round((len(school_data_complete.loc[(school_data_complete['math_score']>=70)])/total_student)*100, 2)
pass_read = round((len(school_data_complete.loc[(school_data_complete['reading_score']>=70)])/total_student)*100, 2)
pass_both = round(((len(school_data_complete.loc[(school_data_complete['reading_score']>=70) &((school_data_complete['math_score']>=70))]))/total_student)*100, 2)
district_df = pd.DataFrame({'Total Schools': total_schools,
                           'Total Students': total_student,
                           'Total Budget': total_budget,
                           'Average Math Score': avg_math,
                           'Average Reading Score':avg_read,
                           'Percent Passing Math':pass_math,
                           'Percent Passing Reading':pass_read,
                           'Percent Passing Both': [pass_both]})
district_df = district_df.style.format({'Percent Passing Math': '{0:,.2f}%',	
                                        'Percent Passing Reading': '{0:,.2f}%',	
                                        'Percent Passing Both': '{0:,.2f}%',
                                        'Total Budget': '$ {0:,.2f}',	
                                        'Average Math Score': '{0:,.2f}',	
                                        'Average Reading Score': '{0:,.2f}',
                                        'Total Students': '{:,}'})
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
pass_read_df = school_data_complete.loc[(school_data_complete['reading_score']>=70)]
pass_math_df = school_data_complete.loc[(school_data_complete['math_score']>=70)]
pass_both_df = school_data_complete.loc[(school_data_complete['reading_score']>=70) &((school_data_complete['math_score']>=70))]
pass_readgroup = pass_read_df.groupby('school_name')
pass_mathgroup = pass_math_df.groupby('school_name')
pass_bothgroup = pass_both_df.groupby('school_name')



school_groupby = school_data_complete.groupby(['school_name', 'type'])
total_student_school = school_groupby['Student ID'].count()
school_data = school_data.set_index(['school_name', 'type'])
budget_school = school_data['budget']
budget_student = budget_school/total_student_school
avg_school_math = school_groupby['math_score'].mean()
avg_school_read = school_groupby['reading_score'].mean()
avg_pass_math = (pass_mathgroup['Student ID'].count()/total_student_school)*100
avg_pass_read = (pass_readgroup['Student ID'].count()/total_student_school)*100
avg_pass_both = (pass_bothgroup['Student ID'].count()/total_student_school)*100


school_df = pd.DataFrame({'Total Students':total_student_school, 
                          'Total School Budget': school_data['budget'],
                          'Per Student Budget': budget_student, 
                          'Average Math Score': avg_school_math, 
                          'Average Reading Score': avg_school_read,
                          'Percent Passing Math':avg_pass_math,
                          'Percent Passing Reading':avg_pass_read,
                          'Overall Passing':avg_pass_both})
school_data = school_data.reset_index()
school_dfstyle = school_df.style.format({'Total Students': '{0:,.0f}',	
                                    'Total School Budget': '${0:,.0f}',	
                                    'Per Student Budget': '${0:,.0f}',	
                                    'Average Math Score': '{0:,.2f}',	
                                    'Average Reading Score': '{0:,.2f}',
                                    'Percent Passing Math': '{0:,.2f}%',
                                    'Percent Passing Reading': '{0:,.2f}%',
                                    'Overall Passing':'{0:,.2f}%' })
school_dfstyle

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:

sorted_bothpass_styled = school_df.sort_values(['Overall Passing'], ascending = False).head(5).style.format({'Total Students': '{0:,.0f}',	
                                    'Total School Budget': '${0:,.0f}',	
                                    'Per Student Budget': '${0:,.0f}',	
                                    'Average Math Score': '{0:,.2f}',	
                                    'Average Reading Score': '{0:,.2f}',
                                    'Percent Passing Math': '{0:,.2f}%',
                                    'Percent Passing Reading': '{0:,.2f}%',
                                    'Overall Passing':'{0:,.2f}%' })
sorted_bothpass_styled

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
sorted_bothfail_styled = school_df.sort_values(['Overall Passing'], ascending = True).head(5).style.format({'Total Students': '{0:,.0f}',	
                                    'Total School Budget': '${0:,.0f}',	
                                    'Per Student Budget': '${0:,.0f}',	
                                    'Average Math Score': '{0:,.2f}',	
                                    'Average Reading Score': '{0:,.2f}',
                                    'Percent Passing Math': '{0:,.2f}%',
                                    'Percent Passing Reading': '{0:,.2f}%',
                                    'Overall Passing':'{0:,.2f}%' })
sorted_bothfail_styled

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
ninth = school_data_complete.loc[school_data_complete['grade']== '9th',:]
tenth= school_data_complete.loc[school_data_complete['grade']== '10th',:]
eleventh= school_data_complete.loc[school_data_complete['grade']== '11th',:]
twelth= school_data_complete.loc[school_data_complete['grade']== '12th',:]

ninth_group = ninth.groupby('school_name')
tenth_group = tenth.groupby('school_name')
eleventh_group = eleventh.groupby('school_name')
twelth_group = twelth.groupby('school_name')


ninth_math = ninth_group['math_score'].mean()
tenth_math = tenth_group['math_score'].mean()
eleventh_math = eleventh_group['math_score'].mean()
twelth_math = twelth_group['math_score'].mean()
math_by_grade_df = pd.DataFrame({'9th': ninth_math,
             '10th': tenth_math,
             '11th': eleventh_math,
             '12th': twelth_math})
math_by_grade_df.style.format({'9th':'{0:,.2f}%',	
                               '10th':'{0:,.2f}%',	
                               '11th':'{0:,.2f}%',	
                               '12th':'{0:,.2f}%'})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
ninth_read = ninth_group['reading_score'].mean()
tenth_read = tenth_group['reading_score'].mean()
eleventh_read = eleventh_group['reading_score'].mean()
twelth_read = twelth_group['reading_score'].mean()
read_by_grade_df = pd.DataFrame({'9th': ninth_read,
             '10th': tenth_read,
             '11th': eleventh_read,
             '12th': twelth_read})
read_by_grade_df.style.format({'9th':'{0:,.2f}%',	
                               '10th':'{0:,.2f}%',	
                               '11th':'{0:,.2f}%',	
                               '12th':'{0:,.2f}%'})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
bins = [0,585, 630, 645, 676]
labels1 = ['<$584',	'$585-629',	'$630-644',	'$645-675']	
school_df['Per Student Bin'] = pd.cut(school_df['Per Student Budget'],bins, labels = labels1)
group_bin = school_df.groupby('Per Student Bin')
mean_df = group_bin[['Average Math Score',
                     'Average Reading Score',
                     'Percent Passing Math',	
                     'Percent Passing Reading',	
                     'Overall Passing']].mean()
mean_df.style.format({'Average Math Score': '{0:,.2f}',	
                      'Average Reading Score': '{0:,.2f}',	
                      'Percent Passing Math': '{0:,.2f}%',	
                      'Percent Passing Reading': '{0:,.2f}%',	
                      'Overall Passing': '{0:,.2f}%'})
mean_df

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing
Per Student Bin,,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
bins = [0,1000, 2001, 5001]
label=['Small(<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']
school_df['Size Bin'] = pd.cut(school_df['Total Students'],bins, labels = label)
size_group = school_df.groupby('Size Bin')


size_df = size_group[['Average Math Score',
                     'Average Reading Score',
                     'Percent Passing Math',	
                     'Percent Passing Reading',	
                     'Overall Passing']].mean()
size_df.style.format({'Average Math Score': '{0:,.2f}',	
                      'Average Reading Score': '{0:,.2f}',	
                      'Percent Passing Math': '{0:,.2f}%',	
                      'Percent Passing Reading': '{0:,.2f}%',	
                      'Overall Passing': '{0:,.2f}%'})

## Scores by School Type

* Perform the same operations as above, based on school type

In [10]:
type_group = school_df.groupby('type')
type_df = type_group[['Average Math Score',
                     'Average Reading Score',
                     'Percent Passing Math',	
                     'Percent Passing Reading',	
                     'Overall Passing']].mean()
type_df.style.format({'Average Math Score': '{0:,.2f}',	
                      'Average Reading Score': '{0:,.2f}',	
                      'Percent Passing Math': '{0:,.2f}%',	
                      'Percent Passing Reading': '{0:,.2f}%',	
                      'Overall Passing': '{0:,.2f}%'})